<% provide(:title, "Ayuda") %>

<h1>Ayuda</h1>
<p>De momento esta pagina esta en contruccion, si precisa ayuda en algun aspecto por favor contacte con nosotros a travez de nuestro correo electronico</p>
