<h1>Password reset</h1>

<p>Para cambiar tu contraseña has click en el enlace:</p>

<%= link_to "Cambiar contraseña", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este enlace expirara en dos horas.</p>

<p>Si tu no solicitaste un cambio en tu contraseña, por favor ignora este correo.</p>
