<% provide(:title, 'Lista de usuarios') %>

<h1>Lista de usuarios</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 60 %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Borrar", user, method: :delete,
                                  data: { confirm: "¿Estas seguro?" } %>
  <% end %>

    </li>
  <% end %>

<%= will_paginate %>

</ul>