<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bookshelf", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Ayuda",   help_path %></li>
        <li><%= link_to "Iniciar Sesion", '#' %></li>
      </ul>
    </nav>
  </div>
</header>